.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.App button.Red {
  background-color: red;
  font: inherit;
  color: white;
  border: 1px solid blue;
  padding: 10px;
  cursor: pointer;
}

.App button.Red:hover {
  color: black;
  background-color: salmon;
}
